<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>        
        {% if page.title != 'Home' %}
            {{ page.title }} - {{ site.title }}
        {% else %}
            {{ site.title }}
        {% endif %}
    </title>
    <script>
        window.addEventListener('load', (event) => {
            document.querySelector('body').classList.add('loaded');
        });
    </script>
    <link rel="stylesheet" href=" {{ site.baseurl }}/css/site.css">
</head>
<body class="page-{{ page-title | slugify }}">
    <input type="checkbox" id="site-nav-toggle" class="site-nav-toggle">
    <div class="site">
        <header>
            <nav class="site-nav">
                <div class="left">
                    <h2>Food</h2>
                </div>
                <ul class="center">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Recipes</a></li>
                    <li><a href="#">Buisines</a></li>
                    <li><a href="#">Tips</a></li>
                </ul>
                <div class="right">
                    <button>Log in</button>
                    <i class="fa fa-search"></i>
                </div>
            </nav>
        </header>        
            
        <main class="site-content">
            <div class="site-wrapper">
                {{ content }}
            </div>
        </main>

    </div>
    
</body>
</html> 